<h1><%= @place.name %></h1>

<h2>Entries</h2>

<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-md-4">
      <div class="card mb-3">
        
        <% if entry.image_url.present? %>
          <img src="<%= entry.image_url %>" class="card-img-top">
        <% end %> <!-- No placeholder image if missing -->

        <div class="card-body">
          <h5 class="card-title"><%= entry.title %></h5>
          <p class="card-text"><%= entry.description %></p>
          <p class="text-muted"><strong>Date:</strong> <%= entry.occurred_on %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>